*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    color: #cdcdcd;
}

body{
    background: #252525;
    padding: 10px;
}

h1{
    text-align: center;
    padding: 20px 0;
}

h2{
    padding: 20px 0;
}

p, h3{
    padding: 10px 0;
}

.btn{
    background: #cdcdcd;
    padding: 10px 30px;
    display: inline-block;
    color: #252525;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: #333;
}